argparse==1.2.1
wsgiref==0.1.2
yolk==0.4.3
numpy
scipy==0.12.0
sympy==0.7.2
-e hg+ssh://hg@bitbucket.org/khinsen/scientificpython#egg=ScientificPython
-e hg+https://code.google.com/p/scitools#egg=scitools
ipython==0.13.2
matplotlib==1.2.1
nose==1.3.0
Werkzeug==0.8.3
Jinja2==2.6
Flask==0.9
